<br />
<br />
<br />

<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1> Start tracking releases today</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>
            <a class="btn btn-info" href="#/login" role="button">Login &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            <a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a>
        </p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
